.imagen-grande.cover, .imagen-chica{
    object-fit: cover;
}
.container-grande{
    display: grid;
    grid-template-columns: 5% 90% 5%;
}
.imagen-grande{
    border: outset;
    border-radius: 10px;
    width: 95%;
    margin-top: 25px;
    z-index: 0;
}
.boton-cambio-img{
    color: black;
    opacity: 0%;
    outline: none;
    margin-top: 25px;
    width: 70px;
    z-index: 1;
}
.boton-cambio-img.atras{
    margin-left: 5px;
    border-radius: 10px 0 0 10px;
}

.boton-cambio-img.adelante{
    border-radius: 0px 10px 10px 0px;
    margin-left: -65px;
}

.container-imagenes{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin-left: 5%;
}

.imagen-chica{
    border: outset;
    border-radius: 10px;
    width: 75px;
}

.especificaciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
}
.titulo-autos{
    display: flex;
    align-items: center;
}
.container-boton{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
a{ /* Aca saco las caracterizticas que trae la etiqueta Link por defecto*/
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 426px) and (max-width: 780px){
    .container-grande{
        display: flex;
        justify-content: center;
    }
    .boton-cambio-img{
        width: 75px;
        opacity: 0.2;
        transition-duration: 0.5s;
    }
    .boton-cambio-img:hover{
        opacity: .75;
        background-color:rgb(43, 41, 41);
    }
    .boton-cambio-img.atras{
        margin-right: -70px;
    }
    .boton-cambio-img.adelante{
        margin-right: -70px;
    }
    
    .imagen-grande{
        display: flex;
        justify-content: center;
        width: auto;
        height: 350px;
    }
    .imagen-chica{
        width: 100px;
    }
    .container-imagenes{
        display: grid;
        justify-content: center;
        grid-gap: 50px;
        grid-template-columns: repeat(5, 100px);
    }

}

@media only screen and (min-width: 781px){
    
    .container-grande{
        display: flex;
        justify-content: center;
    }
    .boton-cambio-img{
        width: 75px;
        opacity: 0.2;
        transition-duration: 0.5s;
    }
    .boton-cambio-img:hover{
        opacity: .75;
        background-color:rgb(43, 41, 41);
    }
    .boton-cambio-img.atras{
        margin-right: -70px;
    }
    .boton-cambio-img.adelante{
        margin-right: -70px;
    }
    
    .imagen-grande{
        display: flex;
        justify-content: center;
        width: auto;
        height: 500px;
    }
    .imagen-chica{
        width: 100px;
    }
    .container-imagenes{
        display: grid;
        justify-content: center;
        grid-gap: 50px;
        grid-template-columns: repeat(5, 100px);
    }
}