.Footer{
    font-family: 'PT Serif', serif;

    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-color: #1B5060 ;
    border-radius: 10px 10px 0 0;
}

.titulo-redes{
    display: flex;
}
.seguinos{
    color: white;
    margin-left: 5px;
    margin-top: 15px;
}
.facebook, .twitter, .instagram{
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 12px;
    text-align: center;
    color: white;
}
.redes{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.contactos{
    margin-top: 25px;
}
.titulo-contacto{
    font-size: 16px;
    color: white;
    margin-left: 5px;
    margin-top: 15px; 
}
.mail, .numero, .telefono{
    margin-top: 10px;
}
.contacto-titulo{
    color: #CFC9C9;
    margin-left: 15px;
    text-decoration: underline;
}
.contacto-complemento{
    color: #CFC9C9;
}